composer.phar
vendor/

bin/

src/Cubiche/Infrastructure/Persistence/Tests/Doctrine/ODM/MongoDB/Proxies/*
src/Cubiche/Infrastructure/Persistence/Tests/Doctrine/ODM/MongoDB/Hydrators/*

.buildpath
.project
.settings/