composer.phar
vendor/

bin/
build/

.atoum.html.php
.atoum.config.php
phpunit.xml

src/Cubiche/Infrastructure/Persistence/Tests/Units/Doctrine/ODM/MongoDB/Proxies/
src/Cubiche/Infrastructure/Persistence/Tests/Units/Doctrine/ODM/MongoDB/Hydrators/
src/Cubiche/Infrastructure/Persistence/Tests/Units/Doctrine/ODM/MongoDB/Cache/

.buildpath
.project
.settings/
