language: php

sudo: false

php:
    - 5.5
    - 5.6
    - 7.0.1

install:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction

script:
  - vendor/bin/atoum -c .atoum.travis.php +verbose