language: php

sudo: false

php:
    - 5.5
    - 5.6
    - 7.0

matrix:
  allow_failures:
    - php: 7.0

services: mongodb

before_install:
  - yes '' | pecl -q install -f mongo
  - php --ri mongo

install:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction

script:
  - vendor/bin/atoum -c .atoum.travis.php +verbose